* {
    margin: 0;
    padding: 0;
    scroll-behavior: auto;
}



nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(23, 7, 69); */
    background-image: linear-gradient(to right, rgb(52, 52, 112), rgb(5, 1, 31));
    color: white;
    padding: 18px 0;
    font-family: "Playwrite AU QLD", cursive;
    z-index: 10;
}

.logo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 18px;
    font-family: "poppins", sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: white;
    /* cursor: pointer; */
    z-index: 100;
}

/* --------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: auto;
}



nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(23, 7, 69); */
    background-image: linear-gradient(to right, rgb(52, 52, 112), rgb(5, 1, 31));
    color: white;
    padding: 18px 0;
    font-family: "Playwrite AU QLD", cursive;
    z-index: 10;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 18px;
    font-family: "poppins", sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: white;
    /* cursor: pointer; */
    z-index: 100;
}

.nav-links a:hover {
    color: rgb(195, 195, 195);
    transform: all 0.5s;
}


.about-one {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/034/959/020/small/abstract-black-line-contour-pattern-white-background-wallpaper-free-png.png);
    background-size: 1200px 80vh;
    /* background-image: url(https://png.pngtree.com/png-vector/20250620/ourmid/pngtree-the-abstract-lines-in-dynamic-motion-vector-png-image_16552901.png); */
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 12px;
    width: 1200px;
    height: 80vh;
    position: relative;
    left: 175px;
    top: 50px;
    box-shadow: 5px 5px 15px 5px #888888
}

.image img {
    position: relative;
    top: -164px;
    right: -10px;
    width: 500px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 500px;
    background-color: #fff;
    position: relative;
    left: 5px;
    border-radius: 20px;
    /* box-shadow: 5px 5px 15px 5px #888888 */
}

.info h2 {
    font-family: "poppins", sans-serif;
    position: relative;
    left: 10px;
    padding-bottom: 15px;
    text-decoration: underline;
}

.info p {
    width: 600px;
    display: flex;
    font-family: "poppins", sans-serif;
    position: relative;
    left: 10px;
}

a button{
    position: relative;
    top: 100px;
    left: 1250px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgb(52, 52, 112);
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    cursor: pointer;
}


footer .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(177, 177, 177);
    width: 100%;
    height: 60px;
    font-family: "poppins", sans-serif;
    position: relative;
    top: 180px;
}

.foot-right a {
    padding: 15px;
    color: black;
    text-decoration: none;
}


@media only screen and (max-width: 950px) and (min-width: 380px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }

    .about-one {
        flex-direction: column;
        width: 90vw;
        height: auto;
        position: relative;
        left: 15px;
        top: 80px;
    }

    .about-one .image img {
        position: relative;
        top: -100px;
        right: 0;
        width: 80vw;
    }

    .about-one .info {
        font-size: px;
        width: 80vw;
        height: auto;
        position: relative;
        left: 0;
    }

    .about-one .info h2 {
        font-size: 24px;
        position: relative;
        left: 0;
        padding-bottom: 10px;
    }

    .about-one .info p {
        width: 90%;
        display: flex;
        font-size: 16px;
    }
}