* {
    margin: 0;
    padding: 0;
    scroll-behavior: auto;
}



nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(23, 7, 69); */
    background-image: linear-gradient(to right, rgb(52, 52, 112), rgb(5, 1, 31));
    color: white;
    padding: 18px 0;
    font-family: "Playwrite AU QLD", cursive;
    z-index: 10;
}

.logo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 18px;
    font-family: "poppins", sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: white;
    /* cursor: pointer; */
    z-index: 100;
}

.nav-links a:hover {
    color: rgb(195, 195, 195);
    transform: all 0.5s;
}

/* .contact {
    display: flex;
    justify-content: center;
        font-family: "poppins", sans-serif;
    width: 1517.5px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: black;
} */
/* 
.contact h1 {
    position: relative;
    left: 180px;
    top: 15px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-size: 80px;
    padding-top: 10px;
}

.left p {
    color: rgb(0, 0, 0);
    font-family: "Google Sans Code", monospace;
    display: flex;
    position: relative;
    right: 300px;
    top: 150px;
    padding: 5px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(80, 80, 80);
    color: rgb(0, 0, 0);
    margin-top: 150px;
    width: 500px;
    position: relative;
    right: 200px;
}

.Label1{
        font-family: "Google Sans Code", monospace;
        position: relative;
        bottom: 12px;
        margin-left: 50px;
}
.Label2{
        font-family: "Google Sans Code", monospace;
        position: relative;
        bottom: 5px;
        margin-left: 50px;
}
.Label3{
        font-family: "Google Sans Code", monospace;
        position: relative;
        bottom: 5px;
        right: 100px;
}

.label1input{
        position: relative;
        bottom: -22px;
        right: 105px;
        /* margin-left: 50px; */
        /* width: 200px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: transparent;
} */

/*.label2input{
        position: relative;
        bottom: 4px;
        left: 260px;
        width: 200px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: transparent;
}

.Label4{
        font-family: "Google Sans Code", monospace;
        font-family: "Google Sans Code", monospace;
        position: relative;
        bottom: -2px;
        margin-left: 50px;
}

.label4input{
        position: relative;
        bottom: -10px;
        margin-left: 50px;
        width: 410px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: transparent;
}

.Label5{
        font-family: "Google Sans Code", monospace;
        position: relative;
        bottom: -25px;
        margin-left: 50px;
}

.label5input{
        position: relative;
        bottom: -32px;
        margin-left: 50px;
        width: 410px;

        height: 200px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: transparent;
}

.contact button{
        position: relative;
        bottom: -50px;
        margin-left: 350px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: rgb(52, 52, 112);
        color: white;
        cursor: pointer;
        right: -10px;
} */

/* -------------------------------------------------------------- */

/* CONTACT SECTION */
.contact {
    max-width: 1100px;
    margin: 80px auto;
    padding: 40px 20px;
    font-family: "Poppins", sans-serif;
}

.contact h1 {
    text-align: center;
    font-size: 56px;
    margin-bottom: 50px;
    text-decoration: underline;
}

/* GRID LAYOUT */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 50px;
}

/* LEFT INFO */
.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Google Sans Code", monospace;
    font-size: 18px;
}

/* FORM CARD */
.right {
    background: #ffffff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* FORM ELEMENTS */
.right form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.name-group {
    display: flex;
    gap: 15px;
}

.right label {
    font-family: "Google Sans Code", monospace;
    font-size: 14px;
}

.right input,
.right textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-family: "Poppins", sans-serif;
}

.right textarea {
    resize: none;
    height: 150px;
}

/* BUTTON */
.contact button {
    align-self: flex-end;
    padding: 10px 22px;
    background: rgb(52, 52, 112);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.contact button:hover {
    background: rgb(35, 35, 90);
}




footer .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(177, 177, 177);
    width: 100%;
    height: 60px;
    font-family: "poppins", sans-serif;
    position: relative;
    top: 50px;
}

.foot-right a {
    padding: 15px;
    color: black;
    text-decoration: none;
}


@media only screen and (max-width: 950px) and (min-width: 380px) {
    nav{
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }

    .contact h1{
        font-size: 50px;
        left: -155px;
    }

    .left p{
        position: relative;
        left: -470px;
        top: 100px;
        padding: 5px;
    }

    .right{
        position: absolute;
        left: 20px;
    }

    
    .footer .footer {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        position: relative;
        bottom: 100px;
    }
}
