* {
    margin: 0;
    padding: 0;
    scroll-behavior: auto;
}



nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(23, 7, 69); */
    background-image: linear-gradient(to right, rgb(52, 52, 112), rgb(5, 1, 31));
    color: white;
    padding: 18px 0;
    font-family: "Playwrite AU QLD", cursive;
    z-index: 10;
}

.logo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 18px;
    font-family: "poppins", sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: white;
    /* cursor: pointer; */
    z-index: 100;
}

.nav-links a:hover {
    color: rgb(195, 195, 195);
    transform: all 0.5s;
}

.contact {
    display: flex;
    justify-content: center;
        font-family: "poppins", sans-serif;

    /* align-items: center; */
    /* margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px; */
    width: 1517.5px;
    height: 100vh;
    /* border: 2px solid black; */
    /* border-radius: 15px; */
    background-color: rgb(255, 255, 255);
    color: black;
}

.contact h1 {
    position: relative;
    left: 180px;
    top: 15px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-size: 80px;
    padding-top: 10px;
}

.left p {
    color: rgb(0, 0, 0);
    font-family: "Google Sans Code", monospace;
    display: flex;
    position: relative;
    right: 300px;
    top: 150px;
    padding: 5px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(80, 80, 80);
    color: rgb(0, 0, 0);
    margin-top: 150px;
    width: 500px;
    position: relative;
    right: 200px;
}

.Label1{
        font-family: "Google Sans Code", monospace;
        position: relative;
        bottom: 12px;
        margin-left: 50px;
}
.Label2{
        font-family: "Google Sans Code", monospace;
        position: relative;
        bottom: 5px;
        margin-left: 50px;
}
.Label3{
        font-family: "Google Sans Code", monospace;
        position: relative;
        bottom: 5px;
        right: 100px;
}

.label1input{
        position: relative;
        bottom: -22px;
        right: 105px;
        /* margin-left: 50px; */
        width: 200px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: transparent;
}

.label2input{
        position: relative;
        bottom: 4px;
        left: 260px;
        /* margin-left: 50px; */
        width: 200px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: transparent;
}

.Label4{
        font-family: "Google Sans Code", monospace;
        font-family: "Google Sans Code", monospace;
        position: relative;
        bottom: -2px;
        margin-left: 50px;
}

.label4input{
        position: relative;
        bottom: -10px;
        margin-left: 50px;
        width: 410px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: transparent;
}

.Label5{
        font-family: "Google Sans Code", monospace;
        position: relative;
        bottom: -25px;
        margin-left: 50px;
}

.label5input{
        position: relative;
        bottom: -32px;
        margin-left: 50px;
        width: 410px;

        height: 200px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: transparent;
}

.contact button{
        position: relative;
        bottom: -50px;
        margin-left: 350px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: rgb(52, 52, 112);
        color: white;
        cursor: pointer;
        right: -10px;
}

footer .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(177, 177, 177);
    width: 100%;
    height: 60px;
    font-family: "poppins", sans-serif;
    position: relative;
    top: 50px;
}

.foot-right a {
    padding: 15px;
    color: black;
    text-decoration: none;
}