* {
    margin: 0;
    padding: 0;
    scroll-behavior: auto;
}



nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(23, 7, 69); */
    background-image: linear-gradient(to right, rgb(52, 52, 112), rgb(5, 1, 31));
    color: white;
    padding: 18px 0;
    font-family: "Playwrite AU QLD", cursive;
    z-index: 10;
}

.logo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 18px;
    font-family: "poppins", sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: white;
    /* cursor: pointer; */
    z-index: 100;
}

.nav-links a:hover {
    color: rgb(195, 195, 195);
    transform: all 0.5s;
}


.projects {
    display: flex;
    background-color: rgb(255, 232, 232);
    height: 85vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    font-family: "poppins", sans-serif;
}

.project-img img {
    width: 40vw;
}

.project-info p {
    width: 500px;
}

.project-info h1 {
    text-decoration: underline;
}

.project {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 1300px;
    height: 550px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
}

.right-one img {
    width: 40vw;
}

.left-one p {
    width: 500px;
}

.left-one h1 {
    text-decoration: underline;
}

.down-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 1300px;
    height: 550px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
}

.project:hover {
    transition: all 0.5s;
    box-shadow: 5px 5px 15px 5px #adadad
}

footer .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(177, 177, 177);
    width: 100%;
    height: 60px;
    font-family: "poppins", sans-serif;
}

.foot-right a {
    padding: 15px;
    color: black;
    text-decoration: none;
}